.header-top ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e6ecff;
  height: 15vh;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  margin-bottom: 40px;
}

li {
  margin-right: 5px;
}

.header-economy {
  color: red;
}

.orb-nav-search .orb-search__button {
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: -999px;
  display: block;
  line-height: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png");
}

.header-search {
  width: 6%;
  padding-left: 0.6rem;
}

.header-news {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.header-h1 {
  margin-left: 40px;
}

.header-h2 {
  margin-left: 20px;
  margin-top: 30px;
  color: #83858b;
}
