.response-wrapper {
  margin: 0px 40px 0px 40px;
}

.response-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-content h2 {
  margin-top: 2px;
}

.response-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.response-image .response-caption p {
  margin-top: 0px;
}

.response-read {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-image {
  width: 70%;
  height: 70%;
}

form {
  margin-top: 40px;
}

.response-likes {
  display: flex;
  justify-content: center;
  background-color: #d4cdc4;
  height: 50px;
  width: 300px;
  border-width: 0.1rem;
}

.response-text {
  margin: 0px 300px;
}
