@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.response-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.responseSubmit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: brown;
  padding: 30px;
  width: 80%;
}

.response-shares {
  display: flex;
  flex-direction: row;
}

.response-shares .label .input[type="checkbox" i] {
  padding: 1rem;
}

.trust-input {
  margin-left: 23px;
  width: 20%;
}

.quality-input {
  margin-left: 10px;
  width: 20%;
}

.trust-field {
  margin-top: 40px;
  margin-bottom: 20px;
}

.trust-field .trust-little-much {
  display: flex;
  flex-direction: row;
  width: 650px;
}

.label-trust {
  color: brown;
}
.label-quality {
  color: brown;
}

.trust-field .trust-little {
  color: brown;
}

.trust-little-much .trust-little {
  color: brown;
}
.trust-field .trust-much {
  margin-left: 440px;
  color: brown;
}

.responseSubmit-form button {
  background-color: #d5a129;
  height: 30px;
  width: 90px;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #9b4e23;
  transition: opacity 0.6s ease-out 0.6s;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  margin-top: 40px;
}

.responseSubmit-form button:hover {
  background-color: initial;
  transition: 0.5s;
}
