@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.response-wrapper {
  margin: 0px 40px 0px 40px;
}

form {
  margin-top: 40px;
}

.response-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-content h1 {
  margin-top: 2px;
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
}

.response-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.response-image {
  width: 70%;
  height: 70%;
}

.response-caption p {
  margin-top: 0px;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.response-likes {
  display: flex;
  justify-content: center;
  background-color: #d4cdc4;
  height: 80px;
  width: 300px;
  border-width: 0.1rem;
  padding-left: 40px;
}

.response-likes p {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.response-text p {
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
}

.response-text {
  margin: 0px 300px;
}

.response-read button {
  background-color: transparent;
  height: 30px;
  width: 140px;
  border-width: 0.01rem;
  border-style: solid;
  border-color: #9b4e23;
  transition: opacity 0.6s ease-out 0.6s;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.response-read button:hover {
  background-color: #d5a129;
  transition: 0.5s;
}

.response-read {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
}

.readmore-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 340px;
}
