@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.user-main {
  margin: 40px 40px 0px 40px;
}
.user-main h1 {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
.user-main p {
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
}
.user-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.user-form label {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
}

.user-form select {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.user-main button {
  background-color: #d5a129;
  height: 30px;
  width: 90px;
  margin-left: 20px;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #9b4e23;
  transition: opacity 0.6s ease-out 0.6s;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.user-main button:hover {
  background-color: initial;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}
